body {
  background-color: #FFF;
  padding: 0;
  margin: 0;
}

#left-content {
  background-color: #FFF;
  padding: 10px 0 10px 20px;
}
#right-content {
  background-color: black;
  color: white;
}
h3 {
  margin: 0;
}
#degree {
  cursor: pointer;
  color: red;
  font-size: 40pt;
}

#temp {
  font-size: 40pt;
}

.spacer {
  height: 20px;
}

#sunrise {
  margin: 10px 0;
  font-size: 18pt;
}
#sunset {
  margin: 10px 0;
  font-size: 18pt;
}

#right-content div {
  padding: 8px;
  margin: 2px 0;
  font-size: 18pt;
  background-color: rgb(46, 46, 46)
}